.header{
    background-color: #d2d2d2;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    h1 {margin : 20%}
    ul{
        list-style: none;
        gap : 10px;
        display: flex;
        align-items: center;
        li{
            display: flex;
        }
        .search{width: 150px;}
    }
    
}