.header{
    background-color: #d2d2d2;
    float: left;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    h1 {margin : 20%}
    ul{
        list-style: none;
        margin-left: 10%;
        #header-elements{
            float: left;
            margin: 10px;
        }
        .search{width: 150px;}
    }
    
}