.footer{
    width: 100%;
    height: 300px;
    background-color: #d2d2d2;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    #footer-con{
        width: 25%;
        height: 80%;
        background-color: white;
        text-align: center;
    }
}